<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-top">
  <div class="w3-bar w3-green w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Spelling Wiz</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
         <a href="/#about" class="w3-bar-item w3-button">About</a>
          <a href="/#advantages" class="w3-bar-item w3-button">Advantages</a>
        <a href="/quiz/" class="w3-bar-item w3-button">Learn</a>
        <a href="/logout/" class="w3-bar-item w3-button">logout</a>
        <a href="/account/create/" class="w3-bar-item w3-button">Study</a>
    </div>
  </div>
</div>
    <div class="w3-row w3-padding-64" id="about">
    <div class="w3-center">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h5 class="w3-center">
        <h5>Your current grade level: {{User.extrainfo.grade_level}}{{User_grade}}</h5>