
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-top">
  <div class="w3-bar w3-green w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Spelling Wiz</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
         <a href="/#about" class="w3-bar-item w3-button">About</a>
          <a href="/#advantages" class="w3-bar-item w3-button">Advantages</a>
        <a href="/quiz/" class="w3-bar-item w3-button">Learn</a>
           <a href="/study/" class="w3-bar-item w3-button">Study</a>
                        <a href="/settings/" class="w3-bar-item w3-button">Settings</a>

        <a href="/logout/" class="w3-bar-item w3-button">logout</a>

    </div>
  </div>
</div>

<div class="w3-row w3-padding-64" id="about">
    <div class="w3-center">
{%for word in words%}
<li>{{word.incorrect_word}}</li>
{%endfor%}

        </div>