<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}


.warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
</style>
<div class="w3-top">
  <div class="w3-bar w3-orange w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Spelling Wiz</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
         <a href="/#about" class="w3-bar-item w3-button">About</a>
          <a href="/#advantages" class="w3-bar-item w3-button">Advantages</a>
        <a href="/quiz/" class="w3-bar-item w3-button">Learn</a>
           <a href="/study/" class="w3-bar-item w3-button">Study</a>
                        <a href="/settings/" class="w3-bar-item w3-button">Settings</a>

        <a href="/logout/" class="w3-bar-item w3-button">logout</a>

    </div>
  </div>
</div>

<div class="w3-row w3-padding-64" id="about">
<h1>Study these words</h1>
    <div class="w3-center">
{%for word in words%}
 <div class="info">

  <p><strong>{{word.incorrect_word}}</strong></p>
<button type="button" onclick=window.location.replace('/delete/{{word.id}}');
 class="btn btn-success">Studied</button>
</div>
        {%endfor%}

        </div>

